.chats-home {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 30vw auto;
}

.chats {
    margin: 1rem;
    background: var(--color-light);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    transition: all 300ms ease;
}

.chats > svg {
    fill: var(--color-dark);
    cursor: pointer;
    display: none;
    margin-bottom: 1rem;
}

.chats .new-chat {
    box-shadow: var(--box-shadow);
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    background: var(--color-primary);
    border-radius: 50%;
    padding: 0.5rem;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: var(--color-light);
    cursor: pointer;
    user-select: none;
    transition: all 300ms ease;
}

.chats .new-chat:hover {
    opacity: 0.7;
    box-shadow: none;
}

.chats .new-chat svg {
    fill: var(--color-light);
}

.chat {
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    background: var(--color-bg);
}

.chat .profile-pic {
    display: flex;
    align-items: center;
}

.chat .profile-pic img, .message-header .profile-pic img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.chat .other-info b {
    font-size: 10pt;
}

.chat .other-info p {
    font-size: 8pt;
}

.messages {
   display: flex;
   flex-flow: column;
   gap: 1rem;
   height: 100vh;
   padding: 1rem 1rem 1rem 0;
}

.message-header {
    flex: 0 1 auto;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 10px;
    background: var(--color-light);
}

.message-header > svg {
    display: none;
    margin-right: 1rem;
    fill: var(--color-dark);
    cursor: pointer;
}

.message-header .profile-pic {
    display: flex;
    align-items: center;
}

.messages-list {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    overflow-y: auto;
}

.messages-list .message {
    align-self: left;
    background: var(--color-light);
    font-size: 11pt;
    border-radius: 10px;
    width: 80%;
    padding: 1rem;
}

.messages-list .my-message {
    align-self: right;
    background: var(--color-primary);
    color: var(--color-light);
    margin-left: 20%;
}

.message-input-container {
    flex: 0 1 auto;
}

.message-input-container .message-input {
    padding: 0.5rem;
    background: var(--color-light);
    border-radius: 2rem;
    display: flex;
    align-items: center;
}

.message-input textarea {
    resize: none;
    outline: none;
    width: 100%;
    padding: 0.2rem;
    background: transparent;
    border: none;
}

.message-input .send-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-chats {
    left: 0 !important;
}

@media screen and (max-width: 900px) {
    .chats-home {
        grid-template-columns: auto;
    }

    .chats {
        z-index: 9;
        position: absolute;
        top: 0;
        left: -100vw;
        width: 100vw;
        height: 100vh;
        margin: 0;
    }

    .messages {
        padding: 1rem;
    }

    .message-header > svg {
        display: inline-block;
    }

    .chats > svg {
        display: inline-block;
    }
}