@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
  --color-primary: #5C6BC0;
  --color-primary-variant: #42A5F5;
  --color-bg-dialog: #3d3d3d43;
  --color-bg: #E8EAF6;
  --color-light: #f4f5ff;
  --color-light-variant: #d5d5d5;
  --color-dark: #263238;
  --color-dark-variant: #44484a;
  --color-success: #00E676;
  --color-error: #e31616;
  --color-warning: #FFA000;
  --color-white: #fff;
  --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--color-dark);
}

body {
  font-family: Poppins;
  background: var(--color-bg);
}

.error {
  border: 2px solid var(--color-error) !important;
}

html {
  scroll-behavior: smooth;
}

svg {
  user-select: none;
}